.flex2 {
    display: flex;
    justify-content: center; /* 水平居中对齐 */
    align-items: flex-end; /* 垂直居中对齐 */
  }
.account-list{
    display: flex;
    justify-content:space-between; /* 水平居中对齐 */
    align-items: center; /* 垂直居中对齐 */
}
.remitBotton{
  display: flex;
  justify-content:flex-end;
  align-items: center; /* 垂直居中对齐 */
}
.minHeight{
  min-height: calc(100vh - 60px);
}

/* 閥值等級 */
.normal-style {
  color: #faad14;
  font-weight: bold;
}

.medium-style {
  color: #eb2f96;
  font-weight: bold;
}

.heavy-style {
  color: #fa541c;
  font-weight: bold;
}

.select-search-input input{
  border-color: white;
}

.loglist-padding {
  padding: 10px 20px;
}