@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap");

body {
  margin: 0;
  font-family: "Noto Sans TC", sans-serif;
  letter-spacing: 0.03em;
}

@layer base {
  body {
    @apply text-black text-base flex justify-center;
  }
  a {
    @apply cursor-pointer block;
  }
  h3 {
    @apply font-bold text-center;
  }
}

@layer components {
  .wrapper {
    @apply max-w-8xl;
  }
  .btn {
    @apply bg-green-400 rounded-sm text-white text-center;
    @apply py-2 px-3 w-max h-auto;
    @apply grid grid-flow-col gap-2 items-center;
  }
}


@layer utilities {
  .h-18{
    height:72px;
  }
  .max-w-8xl {
    max-width: 1440px;
  }
  .border-1 {
    border: 1px solid black;
  }
}
